<section class="card">
  <a href="/song/{{id}}">
    {{#each RatingSong}}
    <header>{{song}}</header>
    {{/each}} 

    <div class="card-body">
      <p>{{rating}}</p>
    </div>
  </a>
</section>