<section class="card">
  <a href="/song/{{id}}">
    {{#each RatingSong}}
    <header>{{song}}</header>
    {{/each}} 

<<<<<<< HEAD
    <div class="card-body col-lg-12">
      <p>{{rating}}</p>
=======
    <div class="card-body top-songs" style="color: white;">
      <p style="font-size:100px">{{rating}}</p>
>>>>>>> main
    </div>
  </a>
</section>