<section class="card">

  <header>
  {{ratingsong.0.song}} Test
  </header>
    <a href="/song/{{id}}"></a>
    <div class="card-body top-songs" style="color: white;">
      <p style="font-size:100px">{{rating}}</p>
    </div>
  </a>
</section>