
<section class="container">
  <h3 class="GenreSong">{{genre.genre_name}}</h3>
  <section class="flex-row justify-center">
    {{#each genre.GenreSong as |song|}}
    {{> song-details}}
    {{/each}} 
  </section>
</section>