
<div class="container">
  <h3 class="GenreSong">{{genre.genre_name}}</h3>
  <div >
{{!-- class="flex-row justify-center" --}}

    {{#each genre.GenreSong as |song|}}
    {{> song-details}}
    {{/each}} 

  </div>
</div>