    <div class="container text-center">
      <div class="row">
        <div class="col col-9" style="margin-top: 20px; margin-bottom: 20px">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 40px; font-family: spectral;">
                Discover Music That Will Boost Your Algorithm with Emotisong
                Rating App!
              </h5>
              <br />
              <p class="card-text">
                Emotisong is a music rating app that allows users to rate songs
                on a scale of 1-5 based on their personal preferences. Whether
                you love a song or find it unbearable, Emotisong provides a
                platform for you to share your opinion with the world. With a
                sleek and user-friendly interface, you can easily search for
                your favorite songs and rate them with just a few taps.
              </p>

              <p>
                But that’s not all! Emotisong also helps influencers and
                retailers find songs to use on social media posts to boost their
                algorithm. With our advanced search filters, you can find songs
                that match your brand’s vibe and style, and create content that
                resonates with your audience.
              </p>

              <p>
                You can also browse through other users’ ratings and discover
                new music that matches your taste. So, what are you waiting for?
                Whether you’re a music lover looking for your next favorite
                song, or an influencer or retailer looking to boost your social
                media presence, Emotisong has got you covered. 
              </p>
              <p>
                <a href="./login" style="font-size: 25px; font-style: italic; font-weight: bolder;"
                  >Signup for Emotisong today and start rating your favorite
                  tunes!
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>