<section class="song">
  <div class="song-details">
    <h3>{{song.song}}</h3>
    <p>By: {{song.artist}}</p>
    <p>Song Viewed at: <a target="_blank" href="{{ song.link}}">Here</a></p>
  </div>
</section>