  <div class="login-card col-lg-12 justify-content-center mx-auto">
    <h3>{{song.song}}</h3>
    <p>By: {{song.artist}}</p>
    <p>Song Viewed at: <a target="_blank" href="{{ song.link}}">Here</a></p>
  </div>

